<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>고객 Churn 예측</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/predict_churn.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            {% include 'includes/sidebar.html' %}

            <!-- 메인 콘텐츠 -->
            <main class="col-12 col-lg-10">
                <div class="container mt-5">
                    <h2>고객 Churn 예측</h2>

                    <!-- 고객 정보 입력 -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row mt-4">
                            <div class="col-md-3">
                                <label for="gender">성별:</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="seniorcitizen">Senior Citizen:</label>
                                <select id="seniorcitizen" name="seniorcitizen" class="form-control">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="partner">Partner:</label>
                                <select id="partner" name="partner" class="form-control">
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="dependents">Dependents:</label>
                                <select id="dependents" name="dependents" class="form-control">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="phoneservice">Phone Service:</label>
                                <select id="phoneservice" name="phoneservice" class="form-control">
                                    <option value="No">No</option>
                                    <option value="Yes" selected>Yes</option> <!-- 최빈값 Yes -->
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="multiplelines">Multiple Lines:</label>
                                <select id="multiplelines" name="multiplelines" class="form-control">
                                    <option value="No phone service">No phone service</option>
                                    <option value="No" selected>No</option> <!-- 최빈값 No -->
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="internetservice">Internet Service:</label>
                                <select id="internetservice" name="internetservice" class="form-control">
                                    <option value="DSL">DSL</option>
                                    <option value="Fiber optic" selected>Fiber optic</option> <!-- 최빈값 Fiber optic -->
                                    <option value="No">No</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="onlinesecurity">Online Security:</label>
                                <select id="onlinesecurity" name="onlinesecurity" class="form-control">
                                    <option value="No" selected>No</option> <!-- 최빈값 No -->
                                    <option value="Yes">Yes</option>
                                    <option value="No internet service">No internet service</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="onlinebackup">Online Backup:</label>
                                <select id="onlinebackup" name="onlinebackup" class="form-control">
                                    <option value="No" selected>No</option> <!-- 최빈값 No -->
                                    <option value="Yes">Yes</option>
                                    <option value="No internet service">No internet service</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="deviceprotection">Device Protection:</label>
                                <select id="deviceprotection" name="deviceprotection" class="form-control">
                                    <option value="No" selected>No</option> <!-- 최빈값 No -->
                                    <option value="Yes">Yes</option>
                                    <option value="No internet service">No internet service</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="techsupport">Tech Support:</label>
                                <select id="techsupport" name="techsupport" class="form-control">
                                    <option value="No" selected>No</option> <!-- 최빈값 No -->
                                    <option value="Yes">Yes</option>
                                    <option value="No internet service">No internet service</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="streamingtv">Streaming TV:</label>
                                <select id="streamingtv" name="streamingtv" class="form-control">
                                    <option value="No" selected>No</option> <!-- 최빈값 No -->
                                    <option value="Yes">Yes</option>
                                    <option value="No internet service">No internet service</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="streamingmovies">Streaming Movies:</label>
                                <select id="streamingmovies" name="streamingmovies" class="form-control">
                                    <option value="No" selected>No</option> <!-- 최빈값 No -->
                                    <option value="Yes">Yes</option>
                                    <option value="No internet service">No internet service</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="contract">Contract:</label>
                                <select id="contract" name="contract" class="form-control">
                                    <option value="Month-to-month" selected>Month-to-month</option> <!-- 최빈값 Month-to-month -->
                                    <option value="One year">One year</option>
                                    <option value="Two year">Two year</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="paperlessbilling">Paperless Billing:</label>
                                <select id="paperlessbilling" name="paperlessbilling" class="form-control">
                                    <option value="Yes" selected>Yes</option> <!-- 최빈값 Yes -->
                                    <option value="No">No</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="paymentmethod">Payment Method:</label>
                                <select id="paymentmethod" name="paymentmethod" class="form-control">
                                    <option value="Electronic check" selected>Electronic check</option> <!-- 최빈값 Electronic check -->
                                    <option value="Mailed check">Mailed check</option>
                                    <option value="Bank transfer (automatic)">Bank transfer (automatic)</option>
                                    <option value="Credit card (automatic)">Credit card (automatic)</option>
                                </select>
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="monthlycharges">Monthly Charges:</label>
                                <input type="number" id="monthlycharges" name="monthlycharges" class="form-control" placeholder="Monthly Charges 입력" value="20.05"> <!-- 최빈값 20.05 -->
                            </div>

                            <div class="col-md-3 mt-4">
                                <label for="tenure">Tenure (months):</label>
                                <input type="number" id="tenure" name="tenure" class="form-control" placeholder="Tenure 입력" value="1"> <!-- 최빈값 1 -->
                            </div>

                            <!-- 검색 버튼 -->
                            <div class="col-md-12 mt-5">
                                <button type="submit" class="btn btn-primary">Churn 예측</button>
                            </div>
                        </div>
                    </form>

                    <!-- 결과를 출력할 공간 -->
                    {% if result %}
                    <div class="result-box">
                        <p class="result-text">고객 위험도: {{ result }}</p>
                    </div>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>
</body>
</html>
